body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-weight: Regular;
    Size: 16px;
    Line-Height: 24px;
    letter-spacing: 2%
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    height: auto;
}

.container{
    width:1158px;
    padding:0 15px;
    margin:0 auto;

    /*
    margin: 0 auto;
    padding: 120px 0px;
    /*
    margin-left: auto;
    margin-right: auto;*/
    
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
 
}

.header-container{
    display: flex;
    align-items: center;
    margin:0 auto;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap:40px;
}

.header-list-link.current{
    position: relative;
  
}

.header-list-link.current::after{
    content:'';

    position: absolute;
    left:0;
    bottom: -1px;

    width:100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.address-list{
    gap:40px;
    display: flex;
    align-items: center;
}

.header-web{
    padding: 24px 0;
    margin-right: 76px;
}

.web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #2e2f42;
}

.header-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #404bbf;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-list-link:hover,
.header-list-link:active,
.header-list-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left:auto;
}

.address-list-item {
    display: block;
    padding: 24px 0;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:hover,
.address-list-item:focus {
    color: #404bbf;
}

.section-strategy {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;

}


.section-two{
    padding: 120px 0;
}


.feature-list-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color:#f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.header-three-quality{
    margin-bottom: 8px;
    text-align: left;
}

.header-three{
    margin-bottom: 8px;
    text-align: center;
    font-size:20px;
    line-height:24px;
    color:#2E2F42;
    letter-spacing:2%;
}

.header-three-text{
    text-align: center;
}

.visually-hidden{
color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.strategy-list-item{
    width: calc((100% - 72рх) / 4);
}

.feature-list{
    display: flex;
    gap:24px;
}

.section-our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-list{
    display: flex;
    gap: 24px;
}

.our-team-list-item{
    width: calc((100% - 72рх) / 4);
    border-radius:0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.worker-container{
    padding: 32px 0;
    background-color: #FFFFFF;
}

.social-media-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 8px;
}

.social-media-list-item{
    width: 40px;
    height: 40px;

}

.social-media-list-item-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-item-link:hover,
.social-media-list-item-link:focus {
    background-color: #404bbf;
}

.icon-social{
    fill: #f4f4fd;
}


ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4D5AE5;
}

.header-one {
    font-family: roboto;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;

}

.button-order-service {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display:block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin:0 auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404BBF;
}

.header-two {
    font-weight: bold;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom:72px;
   
}


.test {
    background-color: #FFFFFF
}

.portfolio-list-item{
    width:calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-image-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 360px;
    
}

.hover-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    transform: translateY(100%);
}



.portfolio-list-item:hover .hover-text {
    transform: translateY(0%);
}

.portfolio-item-container{
    padding: 32px 16px;
    border:1px solid #e7e9fc;
    border-top:none;
}

.portfolio-list-item-header {
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    text-align: left;
}

.feature-text {
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.portfolio-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align:left;
}

.section-portfolio{
    padding-top:120px;
    padding-bottom:120px;
}

.portfolio-list{
    display: flex;
    flex-wrap:wrap;
    gap: 24px;
    column-gap: 24px;
    row-gap: 48px;

}

.footer {
    background-color: #2e2f42;
    padding: 100px 0
}


.footer-common-container{
    display: flex;
    align-items: baseline;
}

.footer-logo-container{
    padding: 0 15px;
    margin-right:120px;
}

.footer-social-media{
    color: white;
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    
}

.logo-studio {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
    font-family: Roboto;
    letter-spacing: 0.02em;
    width: 264px
}

.footer-social-media-list{
     display: flex;
        justify-content: center;
        gap: 16px;
}

.footer-social-media-list-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-list-item-link:hover,
.footer-social-media-list-item-link:focus{
    background-color: #31d0aa;
}

.paragraph-subscribe{
    margin-bottom: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-subscribe-form{
    display: flex;
    gap: 24px;
}

.footer-input-email-field{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}

.footer-input-email-field::placeholder{
    color: #ffffff;
}

.button-footer-subscribe{
min-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
}

.footer-button-svg{
margin-left: 16px;
}










.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
}

.popup:not(.is-open).modal{
    transform: translate(-50%, -50%) scale(1.5);
}

.close-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 24px;
    top:24px;
    height: 24px;
    width:24px;
    outline: none;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
}

.close-button:hover,
.close-button:focus{
    background-color: #404bbf;
    border: none;
    fill:#ffffff
}

.icon-popup{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 16px;
}

.popup-form{
    margin-bottom: 8px;
}

.popup-field{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-field{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus{
    border-color: #4D5AE5;
}


.form-icon-container{
    position: relative;
}

.form-icon{
    position: absolute;
    left: 16px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-icon-container:focus-within .form-icon {
    fill: #4D5AE5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-comment{
    margin-bottom: 16px;

}

.popup-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.popup-textarea:focus{
    border-color: #4D5AE5;
}


.checkbox-container{
    margin-bottom: 24px;
    display:flex;
    align-items: center;
    }



.checkbox-container label{
    margin-bottom: 0;
}


.user-accept-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    
}

.privacy-policy{    
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.checkbox-container input:checked~privacy-policy {

    background-color: #404bbf;
}

.form-checkmark-icon{
 
    width:16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
         
}



.privacy-link{
    color: #4d5ae5;;
}


:root {
    --accent-color: #404bbf;
    --icon-checked-fill: #F4F4FD;
}

.checkbox:checked+label .form-checkmark-icon {
    background-color: var(--accent-color);
    border: none;
    fill: var(--icon-checked-fill);
}

.button-send{
display: block;
min-width: 169px;
height: 56px;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #4D5AE5;
margin: 0 auto;
border-radius: 4px;

}











button {
    cursor: pointer;
   
}





